In [1]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [2]:
gmaps.__version__

'0.9.0'

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Store csv created in part one into a DataFrame
vacation_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Chhabra,IN,70.70,clear sky,24.67,76.83,Royal place merrage Hall
1,7,Waipawa,NZ,60.80,few clouds,-41.41,175.52,Tora Coastal Walk
2,9,Saldanha,ZA,77.00,clear sky,-33.01,17.94,NaN
3,14,Hermanus,ZA,69.01,clear sky,-34.42,19.23,Misty Waves Boutique Hotel
4,15,Ancud,CL,64.00,clear sky,-41.87,-73.82,Hotel Arena Gruesa

In [5]:
# Using the template to information to the markers for the cities.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Filter the 'vacation_df' for the three cities.
vacation_start = vacation_df.loc[vacation_df["City"] == "Mantua"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Azuaga"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Challans"] 
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Betanzos"]

In [14]:
# Get latitude-longitude pairs for each city DataFrame
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]

In [21]:
fig = gmaps.figure()
vacation_intinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2],
        travel_mode='DRIVING')

fig.add_layer(vacation_intinerary)
fig

Figure(layout=FigureLayout(height='420px'))

### Marker Layer Map

In [16]:
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])

In [17]:
itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,115,Mantua,IT,64.0,overcast clouds,45.17,10.78,Hotel la Favorita
1,218,Azuaga,ES,77.0,clear sky,38.27,-5.68,Casa Rural La Hoya
2,380,Challans,FR,64.0,overcast clouds,46.84,-1.87,Citotel Le Challans
3,284,Betanzos,ES,70.0,broken clouds,43.28,-8.21,Hotel Garelos Betanzos

In [18]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
locations = itinerary_df[["Lat", "Lng"]]

In [19]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))